#slayd {
    background: #00b8289f;
    width: 600px;
    height: 400px;
    margin: 35px auto;
    border: 2px solid #3006c7;
    border-radius: 5px;
    position: relative;
}

#soccer {
    background: #f7f2b4;
    width: 600px;
    height: 100px;
    margin: auto;
    border: 2px solid #3006c7;
    border-radius: 5px;
    position: relative;
    line-height: 100px;
}

body {
    background-image: url("x4.jpg");
}

#e1 {
    margin: 110px 0 0 40px;
    width: 90px;
    height: 130px;
    border: 2px solid #ffffff;
    float: left;
    font: bold 24px tahoma;
    color: #ffffff;
    line-height: 130px;
    text-align: center;
}

#e2 {
    margin: 110px 0 0 0;
    width: 90px;
    height: 130px;
    border: 2px solid #ffffff;
    float: left;
    font: bold 24px tahoma;
    color: #ffffff;
    line-height: 130px;
    text-align: center;
}

#topla,
#beraber {
    width: 50px;
    height: 130px;
    margin: 160px 0 0 0;
    float: left;
    line-height: 130px;
    text-align: center;
    font: bold 24px tahoma;
    color: #ffffff;
}

#cvb {
    margin: 110px 0 0 10px;
    width: 250px;
    height: 50px;
    float: left;
    line-height: 130px;
}

#cavab {
    background: #f7f2b4;
    font: bold 14px tahoma;
}